.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.058000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.126000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.098000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.007581px;}
.fc1{color:rgb(34,34,34);}
.fc0{color:rgb(255,255,255);}
.fs2{font-size:56.113336px;}
.fs3{font-size:59.232413px;}
.fs1{font-size:68.589638px;}
.fs0{font-size:99.780374px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.654416px;}
.y18{bottom:20.199728px;}
.y17{bottom:82.711983px;}
.y16{bottom:99.207085px;}
.y15{bottom:115.702188px;}
.y14{bottom:148.692392px;}
.y13{bottom:165.187495px;}
.y12{bottom:181.682597px;}
.y7{bottom:225.682997px;}
.y6{bottom:249.675873px;}
.y1e{bottom:311.394095px;}
.y1d{bottom:327.889198px;}
.y1c{bottom:344.384300px;}
.y1b{bottom:360.879402px;}
.y1a{bottom:377.374505px;}
.y19{bottom:393.869607px;}
.y1f{bottom:420.861557px;}
.y2b{bottom:461.113127px;}
.y2a{bottom:480.607339px;}
.y29{bottom:500.101551px;}
.y28{bottom:519.595762px;}
.y11{bottom:561.069953px;}
.y10{bottom:577.565055px;}
.yf{bottom:594.060158px;}
.ye{bottom:627.050362px;}
.yd{bottom:643.545465px;}
.yc{bottom:660.040567px;}
.y5{bottom:704.790773px;}
.y25{bottom:773.020513px;}
.y24{bottom:792.514725px;}
.y23{bottom:812.008937px;}
.y22{bottom:831.503149px;}
.y21{bottom:850.997361px;}
.y20{bottom:870.491572px;}
.y27{bottom:901.982223px;}
.y26{bottom:922.226212px;}
.yb{bottom:950.717741px;}
.ya{bottom:970.211953px;}
.y9{bottom:989.706165px;}
.y8{bottom:1009.200376px;}
.y4{bottom:1057.186131px;}
.y3{bottom:1115.668770px;}
.y2{bottom:1150.158529px;}
.h5{height:50.614229px;}
.h7{height:50.950909px;}
.h6{height:53.783031px;}
.h4{height:62.279391px;}
.h3{height:90.600579px;}
.h2{height:1189.896730px;}
.h1{height:1190.500000px;}
.h0{height:1190.551146px;}
.w0{width:841.889739px;}
.w1{width:842.000000px;}
.x0{left:0.000000px;}
.x1{left:22.383059px;}
.x2{left:35.351866px;}
.x5{left:263.061579px;}
.x9{left:274.308259px;}
.x8{left:281.302257px;}
.x6{left:299.800689px;}
.x4{left:314.796229px;}
.x3{left:426.173318px;}
.x7{left:520.235259px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.343441pt;}
.fs2{font-size:74.817781pt;}
.fs3{font-size:78.976551pt;}
.fs1{font-size:91.452850pt;}
.fs0{font-size:133.040498pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.872554pt;}
.y18{bottom:26.932970pt;}
.y17{bottom:110.282644pt;}
.y16{bottom:132.276114pt;}
.y15{bottom:154.269584pt;}
.y14{bottom:198.256523pt;}
.y13{bottom:220.249993pt;}
.y12{bottom:242.243463pt;}
.y7{bottom:300.910662pt;}
.y6{bottom:332.901164pt;}
.y1e{bottom:415.192127pt;}
.y1d{bottom:437.185597pt;}
.y1c{bottom:459.179067pt;}
.y1b{bottom:481.172537pt;}
.y1a{bottom:503.166006pt;}
.y19{bottom:525.159476pt;}
.y1f{bottom:561.148743pt;}
.y2b{bottom:614.817502pt;}
.y2a{bottom:640.809785pt;}
.y29{bottom:666.802067pt;}
.y28{bottom:692.794350pt;}
.y11{bottom:748.093271pt;}
.y10{bottom:770.086740pt;}
.yf{bottom:792.080210pt;}
.ye{bottom:836.067150pt;}
.yd{bottom:858.060620pt;}
.yc{bottom:880.054090pt;}
.y5{bottom:939.721031pt;}
.y25{bottom:1030.694017pt;}
.y24{bottom:1056.686300pt;}
.y23{bottom:1082.678582pt;}
.y22{bottom:1108.670865pt;}
.y21{bottom:1134.663147pt;}
.y20{bottom:1160.655430pt;}
.y27{bottom:1202.642964pt;}
.y26{bottom:1229.634950pt;}
.yb{bottom:1267.623654pt;}
.ya{bottom:1293.615937pt;}
.y9{bottom:1319.608219pt;}
.y8{bottom:1345.600502pt;}
.y4{bottom:1409.581508pt;}
.y3{bottom:1487.558359pt;}
.y2{bottom:1533.544705pt;}
.h5{height:67.485639pt;}
.h7{height:67.934546pt;}
.h6{height:71.710708pt;}
.h4{height:83.039188pt;}
.h3{height:120.800772pt;}
.h2{height:1586.528973pt;}
.h1{height:1587.333333pt;}
.h0{height:1587.401527pt;}
.w0{width:1122.519652pt;}
.w1{width:1122.666667pt;}
.x0{left:0.000000pt;}
.x1{left:29.844078pt;}
.x2{left:47.135822pt;}
.x5{left:350.748772pt;}
.x9{left:365.744345pt;}
.x8{left:375.069675pt;}
.x6{left:399.734252pt;}
.x4{left:419.728305pt;}
.x3{left:568.231091pt;}
.x7{left:693.647012pt;}
}
